@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/util';
@import 'base/colors';

@import 'components/header';
@import 'components/main';
@import 'components/footer';



.header__nav--desktop{
  height: rem(16);
}
.header__nav--bar--link, .header__favorites-cta--link,.header__nav--desktop {
    position: relative;
    transition: all 0.15s ease-out;
  
    &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    visibility: hidden;
    transform: scaleX(0);
    transition: all .5s 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
.shop-cta{
    height: rem(56);
    width: rem(325);
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: map-get($font-weights, semi-bold );
}
.shop-cta:hover{
  background-color: var(--white);
  color: var(--black);
}
@media screen and (min-width:$desktop) {
  .shop-cta{
    width: rem(294);
  }
}
