@import './../abstracts/functions';


.header{
    &__favorites-cta{
        position: relative;
        width: 100%;
        height: rem(32);
        background-color: var(--black);
        color: var(--white);
        font-size: map-get($font-size, product-price );
        line-height: rem(32);
        text-align: center;
        &--group{
            position: absolute;
            top: 0;
            right: 0;
        }
        &--link{
            float: right;
            height: 25px;
            display: none;
            &:before{
                background-color: var(--white) !important;
            }
        }
        a{
            color: var(--white);
        }
    }
    &__nav{
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(20);
        &--button{
            width: rem(30);
            height: rem(30);
            border: none;
            background-color: white;
            cursor: pointer;
            padding: 0;
            i{
                font-size: rem(20);
                transition: 0.5s;
            }
        }
        &--menu{
            color: gray;
        }
        &--bar{
            display: none;
            ul{
                display: flex;
                li{
                    margin: 0 rem(10);
                    a{
                        color: var(--black);
                        font-size: map-get($font-size, product-price );
                        font-weight: map-get($font-weights, semi-bold );
                        text-transform: uppercase;
                    }
                }
            }
        }
        &--desktop{
            display: none;
            color: var(--black);
            font-size: map-get($font-size, product-price );
            font-weight: map-get($font-weights, semi-bold );
            text-transform: uppercase;
        }
    }
    &__mobile{
        width: 100%;
        height: rem(750);
        background: var(--white);
        transform: translateX(-100vw);
        transition: 0.5s ease;
        position: absolute;
    }
    &__hero{
        width: 100%;
        height: rem(500);
        text-align: center;
        div{
            padding: 0 8vw rem(14) 8vw;
        }
        h1{
            font-size: rem(40);
            line-height: rem(42);
            padding-top: rem(250);
            text-transform: uppercase;
        }
    }
    @media screen and(min-width:$desktop){
        &__mobile{
            display: none;
        }
        &__hero{
            height: rem(540);
            div{
                
                padding: 0 0 rem(14) 0;
                h1{
                    padding-top: rem(160);
                }
                p{
                    padding-right: 35vw;
                    padding-left: 35vw;
                }
            }
        }
        &__nav{
            &--menu{
                display: none;
            }
            &--bar{
                display: block;
            }
            &--desktop{
                display: inline;
            }
        }
        &__favorites-cta{
            &--link{
                display: inline;
            }
        }
    }
}
.show{
    transform: translateX(0);
}
.header__nav--cart:hover i{
    font-size: rem(25);
}
.header__favorites-cta .header__favorites-cta-favorites:after{
    position: absolute;
    transform: translateX(rem(10));
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f061';
    transition: 0.5s ease;
}
.header__favorites-cta a:nth-child(1):hover::after{
    transform: translateX(rem(20));
}
#cart{
    height: rem(16);
    display: flex;
    align-items: center;
}
