@import './../abstracts/functions';

.main{
    width: 100%;
    position: relative;
}
.favorites{
    position: relative;
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: rem(20) 0;
        &--card{
            position: relative;
            &--scale{
                overflow: hidden;
            }
            &--image{
                background: center/cover no-repeat;
                height: 66.933vw;
                width: 100%;
                transition: all 0.5s ease;
                &-1{
                    background-image: url(../../images/tshirt--blue_3_11zon.jpg);
                }
                &-2{
                    background-image: url(../../images/tshirt--cyan_4_11zon.jpg);
                }
                &-3{
                    background-image: url(../../images/tshirt--magenta_5_11zon.jpg);
                }
                &-4{
                    background-image: url(../../images/tshirt--orange_6_11zon.jpg);
                }
            }
            &:hover > &--scale > &--image{
                transform: scale(1.1);
            }
            &--word{
                width: 80%;
                margin: rem(20) auto;
                color: var(--black);
            }
            p{
                margin: rem(8);
            }
            &--price{
                font-weight: map-get($font-weights, semi-bold );
                font-size: map-get($font-size, product-price);
            }
            &--name{
                font-weight: map-get($font-weights, semi-bold );
                font-size: map-get($font-size, product-name);
            }
        }
    }
    @media screen and (min-width:$desktop) {
        width: 93.333vw;
        margin: auto;
        &__grid{
            grid-template-columns: repeat(4,25%);
            &--card{
                &--image{
                    height: 31.181vw;
                }
            }
        }
    }
}
#gift_away{
    height: rem(80);
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    line-height: rem(80);
    text-align: center;
    text-transform: uppercase;
    font-weight: map-get($font-weights, semi-bold );
    font-size: rem(60);
    @media screen and (min-width:$desktop) {
        height: 10vw;
        line-height: 10vw;
        font-size: map-get($font-size, gift-away );
        
    }
}
.heading{
        display: block;
        height: rem(121);
        width: rem(250);
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: 1.3;
        margin: rem(45) auto 0;
        font-size: map-get($font-size , lyon-heading1);
        span{
            font-size: map-get($font-size , heading);
            font-style: normal;
            font-family: 'Nunito Sans', sans-serif;
            text-transform: uppercase;
        }
}
.season{
    &__grid{
        &--card{
            color: var(--black);
            width: 87.200vw;
            position: relative;
            display: block;
            margin: 0 auto rem(50);
            
            &--overflow{
                overflow: hidden;
            }
            &--image{
                width: 100%;
                height: 87.467vw;
                background: center/cover no-repeat;
                transition: all 0.5s ease;
                &-1{
                    background-image: url(../../images/tshirt--blue_3_11zon.jpg);
                }
                &-2{
                    background-image: url(../../images/tshirt--cyan_4_11zon.jpg);
                }
                &-3{
                    background-image: url(../../images/tshirt--magenta_5_11zon.jpg);
                }
            }
            .arrow_head{
                transition: all 0.5s ease;
                margin: rem(20) 0;
            }
            &:hover &--image{
                transform: scale(1.1);
            }
            &:hover .arrow_head{
                color: #012169;
            }
        }
    }
    @media screen and (min-width:$desktop) {
        &__grid{
            display: grid;
            width: fit-content;
            margin: rem(45) auto 0;
            grid-template-columns: repeat(3,28.333vw);
            grid-template-rows: rem(80) 1fr;
            gap: 3.472vw;
            grid-template-areas: 
            "card1 season card2"
            "card1 card3 card2";
            justify-content: center;
            &--card{
                width: 28.333vw;
                height: fit-content;
                &:nth-child(1){
                    grid-area: card1;
                }
                &:nth-child(2){
                    grid-area: card2;
                }
                &:nth-child(3){
                    grid-area: card3;
                }
                &--image{
                    height: 28.403vw;
                }
            }
        }
        &__gifts{
            .heading{
                margin: 0 auto;

            }
            grid-area: season;
        }
    }
<<<<<<< HEAD
}
.learn-more{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: rem(40) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &>*{
        line-height: 1.2;
        width: 85.333vw;
        display: block;
        margin: 0 auto;
    }
    h3{
        font-size: map-get($font-size, heading-small );
    }
    div{
        a{
            color: white;
            text-transform: uppercase;
            font-weight: map-get($font-weights, semi-bold );
        }
        p{
            margin:0 0 rem(20) 0;
        }
    }
    @media screen and (min-width:$desktop) {
        flex-direction: row;
        padding: rem(70) 0;
        h3{
            width: rem(375);
        }
        div{
            width: rem(550);
        }
    }
}
.the-press{
    text-align: center;
    padding: rem(50) 0;
    &>*{
        margin: auto;
    }
    h4{
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
    }
    p{
        max-width: rem(600);
        width: 80vw;
        min-width: rem(300);
        margin: rem(40) auto;
        font-family: 'Playfair Display', serif;
        font-size: map-get($font-size, lyon-heading3 );
        line-height: 1.1;
    }
    div{
        background: center/cover url(../../images/icon/logoipsum-logo-11.svg) no-repeat;
        width: rem(119);
        height: rem(30);
    }
}
.user-exp{
    background-color: var(--black);
    color: var(--white);
    padding: rem(65) 0;
    height: rem(652);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>*{
        width: 85.333vw;
        max-width: rem(575);
        margin: 0 auto;
        display: block;
    }
    h5{
        font-size: map-get($font-size, heading-small );
    }
    &__card{
        p:nth-child(1){
            line-height: 1.2;
        }
        p:nth-child(2){
            margin-top:10px;
            font-weight: map-get($font-weights, semi-bold );
        }
    }
    @media screen and (min-width:$desktop) {
        flex-direction: row;
        height: rem(297);
        &>*:not(h5){
            width: rem(240);
            margin: 0 auto;
            display: block;
        }
        h5{
            width: rem(150);
        }
    }
=======
>>>>>>> parent of 9591e16 (working on learn more)
}